@model IEnumerable<PersonalWebsite.Models.Post>

@{
    ViewBag.Title = "Blog Entries Management";
}
<style>
    .test{
        height: 15em;
        max-height: 15em;
        overflow: auto;
    }
</style>
<div class="col-sm-1"></div>
<div class="col-sm-10">
<h2 style="text-align: center">Blog Entries Management</h2>
    <br />
<div style="text-align: center">
    <a href="@Url.Action("Create")" class="btn btn-color">Create New</a>
</div>
    <br />
<table class="table">
    <tr>
        <th style="width: 225px; max-width: 225px;text-align: center">
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th style="width: 225px; max-width: 225px;text-align: center">
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th style="width: 180px; max-width: 180px;text-align: center">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th style="width: 290px; max-width: 290px;text-align: center">
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th style="width: 180px; max-width: 180px;text-align: center">
            @Html.DisplayNameFor(model => model.MediaURL)
        </th>
        <th style="width: 200px; max-width: 200px;text-align: center">
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td style ="text-align: center">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <div class="test">
                @Html.DisplayFor(modelItem => item.Body)
            </div>
        </td>
        <td>
            <div class="test2" style="max-width: 180px;">
                @Html.DisplayFor(modelItem => item.MediaURL)
            </div>
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            <a href="~/Posts/Edit/@item.Id" class="btn btn-color">Edit</a> |
            <a href="~/Blog/@item.Slug" class="btn btn-color">Details</a> |
            <a href="~/Posts/Delete/@item.Id" class="btn btn-danger" style="color: white">Delete</a>
        </td>
    </tr>
}

</table>
    </div>
<div class="col-sm-1"></div>
@section Scripts{
    <script>
    $(document).ready(function () {
        $(".test").dotdotdot({
            watch: "window"
        });
    });
    $(document).ready(function () {
        $(".test2").dotdotdot({
            watch: "window"
        });
    });
    </script>
    }