@model List<PersonalWebsite.Models.ApplicationUser>
 @{ ViewBag.Title = "ManageUser"; }


<div class="container">
    <h2 style="text-align: center">ManageUser</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th style="width: 400px;">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>Roles</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.UserName)
                </td>
                <td>
                    @Html.Raw(item.Email)
                </td>
                <td>
                    @Html.Raw(item.FirstName)
                </td>
                <td id="stupid">
                    @Html.Raw(item.LastName)
                </td>
                <td>
                    @Html.Raw(item.DisplayName)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        role.
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRole", new { id = item.Id })
                    @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
</div>